@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


/* #c53661  reddish-pinkish  */
/* #705276 dark-faded-purple */
/* #9b557a */
*, ::before, ::after {
    --tw-gradient-from-position: var(--tw-empty,/*!*/ /*!*/);
    --tw-gradient-via-position: var(--tw-empty,/*!*/ /*!*/);
    --tw-gradient-to-position: var(--tw-empty,/*!*/ /*!*/);

}



body {
    /* background-image: url('../public/space.gif'); */
    /* background-color: #7ad081; */
    /* background-image: linear-gradient(to top right, rgb(234, 103, 103), rgb(231, 98, 120), rgb(66, 126, 203)); */
    /* background-color: #000000; */
    background-color: #784F41;
    background-attachment: fixed;
}


.css-card{
    background-color: rgb(255 255 255 / 0.1);
}

.blog-card:hover{
  background-color: rgb(255 255 255 / 0.1);
  
}

@keyframes a {
    0% {
        background-position: 0 0, 0 100%, 0 0, 100% 0;
    }

    100% {
        background-position: 30px 0, -30px 100%, 0 -30px, 100% 30px;
    }
}

/*.css-card-tile-cyan {
    background-color: rgb(255 255 255 / 0.05);
    --tw-gradient-from: rgba(0, 164, 204, 0.5) -225% var(--tw-gradient-from-position);
    --tw-gradient-stops: var(--tw-gradient-from), rgba(10, 10, 10, 1) 45% var(--tw-gradient-via-position), var(--tw-gradient-to);
    --tw-gradient-to: rgba(0, 164, 204, 0.5) 225% var(--tw-gradient-to-position);
    background-image: linear-gradient(to top left, var(--tw-gradient-stops));

}

.css-card-tile-violet {
    background-color: rgb(255 255 255 / 0.05);
    --tw-gradient-from: rgba(170, 0, 204, 0.5) -225% var(--tw-gradient-from-position);
    --tw-gradient-stops: var(--tw-gradient-from), rgba(10, 10, 10, 1) 45% var(--tw-gradient-via-position), var(--tw-gradient-to);
    --tw-gradient-to: rgba(153, 0, 204, 0.5) 225% var(--tw-gradient-to-position);
    background-image: linear-gradient(to top left, var(--tw-gradient-stops));

}

.css-card-tile-blue {
    background-color: rgb(255 255 255 / 0.05);
    --tw-gradient-from: rgba(27, 69, 255, 0.609) -225% var(--tw-gradient-from-position);
    --tw-gradient-stops: var(--tw-gradient-from), rgba(10, 10, 10, 1) 45% var(--tw-gradient-via-position), var(--tw-gradient-to);
    --tw-gradient-to: rgba(14, 110, 255, 0.5) 225% var(--tw-gradient-to-position);
    background-image: linear-gradient(to top left, var(--tw-gradient-stops));

}*/

.css-btn{
    background-color: rgb(100 179 174 / .15);
    --tw-text-opacity: 1;
    color: rgb(100 179 174 / var(--tw-text-opacity));
}
